@import "tailwindcss";
@import "tw-animate-css";

body::-webkit-scrollbar{
  width: 0px !important;
}


body{
  background-color: black;
  color: rgb(159, 156, 156);
  font-family: Arial, Helvetica, sans-serif;
}

/* body{
  background-image: url('https://i.pinimg.com/originals/f7/49/ee/f749eeaf2e92ba06f85902564fd35722.gif') !important;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px) contrast(120%) saturate(150%);
} */

